

#container{
		margin-left: auto;
	margin-right: auto;
height: 800px;
width: 1000px;
background: linear-gradient(to bottom ,green ,white);

}

#header{
	width: 100%;
	height:300px;
	background-color: red;
background: linear-gradient(to bottom ,green ,white);
}

#logo{
	border: 5px 5px 5px 5px;
	position: absolute;
	width: 150px;
	height: 150px;
	margin-top: 40px;
	margin-left: 30%;

}


img:hover{
transform: scale(1.2);
}

a:visited {
    color: white;
}

a:hover {

    font-weight: bold;
}

#name{

	position: absolute;

	padding-left: 30%;
	padding-top: 13%;
}

#subname{

position: absolute;

	padding-left: 29%;
	padding-top: 17%;

}

ul{
	margin:0px;
	padding: 0px;
	list-style: none;

}

#nav ul li{
padding: 0px 20px 0px 20px;
	float: left;
	font-size: 25px;

}

#nav ul li .current{
	color: red;
}

#nav{
padding-left: 23%;
	width: 100%;
	min-height: 30px;
	width: auto;
	background: linear-gradient(to top ,#383c5f
 ,grey);

} 


#contents{
text-align: center;
	padding: 5px 5px 5px 5px;
}


a{

text-decoration: none;
    font-size: 20px;
color:#baf1d8;
}

#contact{
	margin-left: 30%;
}

#cont{
width: 400px;
height: 500px;
padding:10px;
margin-left: 30%;

}

#cont input[type="text"],input[type="email"]{
	width: 250px;
	height: 25px;
	padding: 5px;
	background-color: black;
	color: white;

}

#cont input[type="submit"]{
background-color: black;
color: white;
padding: 5px;
width: 66px;
margin-left: 14%;
}

textarea{


	background-color: black;
	height: 150px;
	width: 300px;
	color: white;
	margin-left: 12%;
	
}

#footer{
	clear: both;
	font-size: 15px;
	background: linear-gradient(to top ,#383c5f
 ,grey);
text-align: center;
padding-bottom: 10px;
padding-top: 5px;
width: 100%;
}

	
#footer h3{
	color: white;
	margin: 0px;

}