

#container{
		margin-left: auto;
	margin-right: auto;
height: 800px;
width: 1000px;
background: linear-gradient(to bottom ,green ,white);

}

#header{
	width: 100%;
	height:300px;
	background-color: red;
background: linear-gradient(to bottom ,green ,white);
}

#logo{
	border: 0px 0px 5px 0px;
	position: absolute;
	width: 150px;
	height: 150px;
	margin-top: 40px;
	margin-left: 30%;
}


img:hover{
transform: scale(1.2);
}

a:visited {
    color: white;

}

a:hover {

    font-weight: bold;
  background-color: lightgreen;
  color: black;
}

#name{

	position: absolute;

	padding-left: 30%;
	padding-top: 13%;
}

#subname{

position: absolute;

	padding-left: 29%;
	padding-top: 17%;

}

ul{
	margin:0px;
	padding: 0px;
	list-style: none;

}

#nav ul li{
padding: 0px 20px 0px 20px;
	float: left;
	font-size: 25px;

}

#nav ul li .current{
	color: red;
}

#nav{
padding-left: 23%;
	width: 100%;
	min-height: 30px;
	width: auto;
	background: linear-gradient(to top ,#383c5f
 ,grey);

} 


#contents{

	padding: 5px 5px 5px 5px;
}

#education{
float:left; 
width: 40%
}

#experience{
float:right; 
width: 50%
}

a{

text-decoration: none;
    font-size: 20px;
color:#baf1d8;
}

#certification{

	float: left;
}

#skills{

float: right;
width: 50%
}

#footer{
	clear: both;
	font-size: 15px;
	width: 100%;
	background: linear-gradient(to top ,#383c5f
 ,grey);
text-align: center;
padding-bottom: 10px;
padding-top: 5px;
}

#footer h3{
	color: white;
	margin: 0px;

}